@model IEnumerable<VisitorModel>
@{
    ViewData["Title"] = "Visitors";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Visitors</title>
</head>
<body>
    <div class="panel-body">
        <h2>Visitors</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>FatherName</th>
                    <th>Login (Email)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MassageSalon.WEB.Models.VisitorModel r in Model)
                {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.Surname</td>
                        <td>@r.FatherName</td>
                        <td>@r.Login</td>
                        <td>
                            <a id="createEditVisitor" asp-action="Edit" asp-route-id="@r.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                            <form asp-action="Delete" asp-route-id="@r.Id" method="post">
                                <button type="submit"><i class="fas fa-trash"></i></button>
                            </form>
                        </td>      
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>