@model MassageSalon.WEB.Models.PageModel.ViewPageModel<OfferModel>
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Offers";
}

@{if (User.IsInRole("admin"))
        @using (Html.BeginForm("Add", "Offer", FormMethod.Get))
        {
            <div class="form-group">
                <button type="submit" class="fas fa-plus">Add Offer</button>
            </div>
        }
}
@await Html.PartialAsync("Search")

<div class="d-flex justify-content-start flex-row flex-wrap">
    @foreach (var offer in Model.Collection)
    {
        <div class="card border-dark mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@offer.Title</h5>
                <p class="card-text">@offer.Description</p>
                <p class="card-text">Price: @offer.Price &#128176</p>
                @{ if (User.Identity.IsAuthenticated)
                    {
                        <a class="card-link" asp-controller="Record" asp-action="CreateRecord">Record</a>
                    }

                }

                @{if (User.IsInRole("admin"))
                    {
                        <a class="fas fa-edit" onclick="location.href='@Url.Action("Edit", "Offer", offer)'">Edit</a>
                        @using (Html.BeginForm("Delete", "Masseurs", new { Id = offer.Id }, FormMethod.Post))
                        {
                            <button type="submit"><i class="fas fa-trash"></i></button>
                        }
                    }
                }
            </div>

        </div>
    }
    <div class="d-flex justify-content-center flex-row">
        <div>
            @if (Model.PageModel.HasPreviousPage)
            {
                <a asp-action="Index"
                   asp-route-pageSize=""
                   asp-route-page="@(Model.PageModel.PageNumber - 1)"
                   class="btn btn-primary"
                   style="margin: 5px;">
                    Prev
                </a>
            }
        </div>
        <div>
            @if (Model.PageModel.HasNextPage)
            {
                <a asp-action="Index"
                   asp-route-pageSize=""
                   asp-route-page="@(Model.PageModel.PageNumber + 1)"
                   class="btn btn-primary"
                   style="margin: 5px;">
                    Next
                </a>
            }
        </div>
    </div>
</div>
