@model IEnumerable<MasseurModel>
@{
    ViewData["Title"] = "Masseurs";
}

@{if (User.IsInRole("admin"))
        @using (Html.BeginForm("Add", "Masseurs", FormMethod.Get))
        {
            <div class="form-group">
                <button type="submit" class="fas fa-plus">Add Visitor</button>
            </div>
        }
}


<div class="d-flex justify-content-start flex-row flex-wrap">
    @foreach (var Masseur in Model.OrderBy(s => s.Surname))
    {
    <div class="card" style="width: 18rem; height: 28rem; margin: 2rem;">
        <img class="card-img-top" src="~/images/ProfilesPhoto/@Masseur.TitleImagePath" alt="Image of Masseur" style="width: 240px; height: 240px;">
        <div class="card-body">
            <h5 class="card-title">@Masseur.Name @Masseur.Surname</h5>
            <p class="card-text">@Masseur.Description</p>
            @{if (User.IsInRole("admin"))
                {
                    <button type="button" class="fas fa-edit" onclick="location.href='@Url.Action("Edit", "Masseurs", Masseur)'">Edit</button>
                    @*<form asp-action="Delete" asp-route-id="@Masseur.Id" method="post">
                    <button type="submit"><i class="fas fa-trash"></i></button>
                </form>*@
                    @using (Html.BeginForm("Delete", "Masseurs", new { Id = Masseur.Id }, FormMethod.Post))
                    {
                        <button type="submit"><i class="fas fa-trash"></i></button>
                    }
                }
            }
        </div>
        
    </div>
    }
</div>
