@model RecordModel
@{
    IEnumerable<MasseurModel> masseurs = ViewData["Masseurs"] as IEnumerable<MasseurModel>;
    IEnumerable<OfferModel> offers = ViewData["Offers"] as IEnumerable<OfferModel>;
}

@using (Html.BeginForm("CreateRecord", "Record", FormMethod.Post))
{

<h2>Records</h2>

<form asp-action="Record" asp-controller="CreateRecord" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="MasseurId">Select the Masseur</label><br />
            <select name="masseurId" style="margin: 10px;">
                @foreach (var masseur in masseurs.OrderBy(b => b.Surname))
                {
                    <option value="@masseur.Id">@masseur.Name @masseur.Surname</option>
                }
            </select>
            <span asp-validation-for="MasseurId" />
        </div>
        <div>
            <label asp-for="OfferId">Select the service</label><br />
            <select name="offerId" style="margin: 10px;">
                @foreach (var offer in offers.OrderBy(b => b.Title))
                {
                <option value="@offer.Id">@offer.Title @offer.Price&#128176</option>
                }
            </select>
            <span asp-validation-for="OfferId" />
        </div>
        <div>
            <label asp-for="TimeRecord">Select time</label><br />
            <input type="text" asp-for="TimeRecord" class="datetimefield"/>
            <span asp-validation-for="TimeRecord" />
        </div>
        <div>
            <label asp-for="Detail">Detail</label><br />
            <input type="text" asp-for="Detail" />
            <span asp-validation-for="Detail" />
        </div>
        <div>
            <input type="submit" value="Record" />
        </div>
    </div>
</form>

}

@section Scripts{ 
    <script>
        $(function () {
            $.datetimepicker.setDateFormatter('moment');
            $(".datetimefield").datetimepicker({
                format: 'MM/DD/YYYY hh:mm A',
                formatTime: 'h:mm A',
                minDate: new Date(),
                step: 30
                
            });
        });
    </script>

} 

